@use '../util/' as *;

.splitter {
    background-color: var(--white);
    border-radius: rem(25) rem(25) 0 0;
    padding: rem(32);
    margin-bottom: rem(32);


    .form-control, .select-tip {
        margin-bottom: rem(32);
    }

    @include breakpoint(large) {
        border-radius: rem(25);
    
        .form-control, .select-tip {
            margin-bottom: rem(45);
        }
    }
}