@use '../util' as *;

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

a,a:visited,a:active {
    text-decoration: none;
}

body {
    font-size: rem(16);
}

.form-check-label, .form-control, .totals__value, .form-control::placeholder , button {
    font-weight: 700;
    font-size: rem(24);
    font-family: var(--font-space-mono);
}